In [45]:
import pandas as pd

In [2]:
df = pd.read_excel("./Iris.xls")

In [3]:
df.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   iris          150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'iris'], dtype='object')

In [6]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [7]:
df.mean()

sepal length    5.843333
sepal width     3.054000
petal length    3.758667
petal width     1.198667
dtype: float64

In [11]:
df.std()

sepal length    0.828066
sepal width     0.433594
petal length    1.764420
petal width     0.763161
dtype: float64

In [12]:
df.var()

sepal length    0.685694
sepal width     0.188004
petal length    3.113179
petal width     0.582414
dtype: float64

In [13]:
df.count()

sepal length    150
sepal width     150
petal length    150
petal width     150
iris            150
dtype: int64

In [15]:
df.value_counts()

sepal length  sepal width  petal length  petal width  iris
4.9           3.1          1.5           0.1          Iris-setosa        3
5.8           2.7          5.1           1.9          Iris-virginica     2
              4.0          1.2           0.2          Iris-setosa        1
5.9           3.0          4.2           1.5          Iris-versicolor    1
6.2           3.4          5.4           2.3          Iris-virginica     1
                                                                        ..
5.5           2.3          4.0           1.3          Iris-versicolor    1
              2.4          3.7           1.0          Iris-versicolor    1
                           3.8           1.1          Iris-versicolor    1
              2.5          4.0           1.3          Iris-versicolor    1
7.9           3.8          6.4           2.0          Iris-virginica     1
Length: 147, dtype: int64

In [16]:
df.head(1)

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa

In [20]:
df["sepal length"].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [26]:
df["sepal length"].nunique()

35

In [27]:
df.dtypes

sepal length    float64
sepal width     float64
petal length    float64
petal width     float64
iris             object
dtype: object

In [29]:
df["iris"].nunique()

3

In [30]:
df["iris"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [31]:
df["Total Length"] = df["sepal length"] + df["petal length"]

In [32]:
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'iris',
       'Total Length'],
      dtype='object')

In [33]:
df.head()

,sepal length,sepal width,petal length,petal width,iris,Total Length
0,5.1,3.5,1.4,0.2,Iris-setosa,6.5
1,4.9,3.0,1.4,0.2,Iris-setosa,6.3
2,4.7,3.2,1.3,0.2,Iris-setosa,6.0
3,4.6,3.1,1.5,0.2,Iris-setosa,6.1
4,5.0,3.6,1.4,0.2,Iris-setosa,6.4

In [34]:
df["Total Width"] = df["sepal width"] + df["petal width"]

In [35]:
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'iris',
       'Total Length', 'Total Width'],
      dtype='object')

In [36]:
df.head()

,sepal length,sepal width,petal length,petal width,iris,Total Length,Total Width
0,5.1,3.5,1.4,0.2,Iris-setosa,6.5,3.7
1,4.9,3.0,1.4,0.2,Iris-setosa,6.3,3.2
2,4.7,3.2,1.3,0.2,Iris-setosa,6.0,3.4
3,4.6,3.1,1.5,0.2,Iris-setosa,6.1,3.3
4,5.0,3.6,1.4,0.2,Iris-setosa,6.4,3.8

In [37]:
df["Total Length"].nunique()

73

In [38]:
df["Total Length"].unique()

array([ 6.5,  6.3,  6. ,  6.1,  6.4,  7.1,  5.8,  6.9,  6.2,  5.4,  7. ,
        7.2,  6.7,  7.4,  6.6,  5.6,  6.8,  6.7,  6.2,  5.7,  6.3,  5.8,
       11.7, 10.9, 11.8,  9.5, 11.1, 10.2, 11. ,  8.2, 11.2,  9.1,  8.5,
       10.1, 10. , 10.8,  9.2, 11.1, 10.1,  9.9, 10.7, 11.6, 10.5,  9.3,
        9.7,  9.9, 11.4,  9.8,  8.3,  8.1, 12.3, 10.9, 13. , 11.9, 14.2,
        9.4, 13.6, 12.5, 13.3, 12. , 14.4, 14.6, 12.6, 12.4, 13.2, 13.5,
       14.3, 11.4, 13.8, 11.9, 12.7, 11.3, 11.6])

In [39]:
df["Total Width"].nunique()

42

In [40]:
df["Total Width"].unique()

array([3.7, 3.2, 3.4, 3.3, 3.8, 4.3, 3.7, 3.6, 3.1, 3.9, 4.2, 4.8, 3.8,
       4.1, 4.1, 4.2, 4.4, 2.6, 3.3, 4. , 3.5, 4.6, 4.7, 3.6, 4.9, 3.4,
       3. , 4.5, 5. , 4.3, 5.8, 5.1, 5.2, 6.1, 5.2, 5.5, 4.8, 6. , 5.4,
       4.7, 5.3, 5.7])

In [41]:
df.head()

,sepal length,sepal width,petal length,petal width,iris,Total Length,Total Width
0,5.1,3.5,1.4,0.2,Iris-setosa,6.5,3.7
1,4.9,3.0,1.4,0.2,Iris-setosa,6.3,3.2
2,4.7,3.2,1.3,0.2,Iris-setosa,6.0,3.4
3,4.6,3.1,1.5,0.2,Iris-setosa,6.1,3.3
4,5.0,3.6,1.4,0.2,Iris-setosa,6.4,3.8

In [42]:
df.loc[0:20, ["sepal length", "petal length"]]

    sepal length  petal length
0            5.1           1.4
1            4.9           1.4
2            4.7           1.3
3            4.6           1.5
4            5.0           1.4
5            5.4           1.7
6            4.6           1.4
7            5.0           1.5
8            4.4           1.4
9            4.9           1.5
10           5.4           1.5
11           4.8           1.6
12           4.8           1.4
13           4.3           1.1
14           5.8           1.2
15           5.7           1.5
16           5.4           1.3
17           5.1           1.4
18           5.7           1.7
19           5.1           1.5
20           5.4           1.7